<div class="pagetitle">
    <h1>Socios</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Socios</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-3" style="margin-top: 10px;">
                        <label for="statusReportes" class="form-label">Socio(s) <b style="color: brown;">*</b>:</label>
                        
                        <app-dropdown [options]="opcionesSocios" (selectionChange)="onSelectionChange($event)"></app-dropdown>
                    </div>
                    <div class="botonera">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoReporte">Nuevo</button>
                        <button class="btn btn-primary">Consultar</button>
                        <button class="btn btn-primary" disabled="true">Excel</button>
                        <button class="btn btn-danger">Limpiar</button>
                    </div>
                </div>
            </div>

            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <br>
                    <table datatable [dtOptions]="dtOptions" class="table">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Adrián Villa</td>
                                <td>Activo</td>
                                <td>12</td>
                                <td>VIRA010529HMCLYDA5</td>
                                <td>VIRA010529</td>
                                <td>Logística Integral</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th><input type="text" class="form-control" name="search-id" placeholder="#"/></th>
                                <th><input type="text" class="form-control" name="search-socio" placeholder="Socio"/></th>
                                <th><input type="text" class="form-control" name="search-statusSocio" placeholder="Status Socio"/></th>
                                <th><input type="text" class="form-control" name="search-relacionEmpresas" placeholder="Relación Empresas"/></th>
                                <th><input type="text" class="form-control" name="search-curp" placeholder="CURP"/></th>
                                <th><input type="text" class="form-control" name="search-rfc" placeholder="RFC"/></th>
                                <th><input type="text" class="form-control" name="search-intermediario" placeholder="Intermediario"/></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>