<div class="modal-body">
    <div class="pagetitle">
        <h1>Registro de enlace Socio-Empresa</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Socios</li>
                <li class="breadcrumb-item active">Registro de enlace Socio-Empresa</li>
            </ol>
        </nav>
    </div>

    <section class="section profile formsWTitle">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <h5 class="card-title" align="center">Registro de enlace Socio-Empresa</h5>
                
                        <form class="row g-3" autocomplete="off" [formGroup]="formEnlaceSocioEmpresa">
                            <div class="col-lg-6">
                                <label for="nombreSocio" class="form-label required">Socio:</label>
                                <span>&nbsp;<b>{{this.statusSocio}}</b></span>
                                <div class="btn-group col-sm-12" role="group">
                                    <input
                                        list="socios"
                                        class="form-control border-right-none"
                                        id="{{'nombreSocio'+idModal}}"
                                        formControlName="nombreSocio"
                                        placeholder="Socio"
                                        (keypress)="soloTexto($event)"
                                        (input)="mostrarOpciones('Socio')"
                                        maxlength="255"
                                    >
                                    <button class="btn btn-outline-primary" (click)="refresh('Socios')"><i class="bi bi-arrow-repeat"></i></button>
                                    <button class="btn btn-outline-success" (click)="abrirModalRegistro('registroSocio')"><b>+</b></button>
                                </div>

                                <datalist id="socios" *ngIf="this.mostrarOpcionesSocios">
                                    <option *ngFor="let socio of this.datosSocios" value="{{socio.nombreSocio}}">
                                </datalist>
                            </div>

                            <div class="col-lg-6">
                                <label for="nombreEmpresa" class="form-label required">Empresa:</label>
                                <span>&nbsp;<b>{{this.statusEmpresa}}</b></span>
                                <div class="btn-group col-sm-12" role="group">
                                    <input
                                        list="empresas"
                                        class="form-control border-right-none"
                                        id="{{'nombreEmpresa'+idModal}}"
                                        formControlName="nombreEmpresa"
                                        placeholder="Empresa"
                                        (keypress)="soloTexto($event)"
                                        (input)="mostrarOpciones('Empresa')"
                                        maxlength="255"
                                    >
                                    <button class="btn btn-outline-primary" (click)="refresh('Empresas')"><i class="bi bi-arrow-repeat"></i></button>
                                    <button class="btn btn-outline-success" (click)="abrirModalRegistro('registroEmpresa')"><b>+</b></button>
                                </div>

                                <datalist id="empresas" *ngIf="this.mostrarOpcionesEmpresas">
                                    <option *ngFor="let empresa of this.datosEmpresas" value="{{empresa.nombre}}">
                                </datalist>
                            </div>

                            <div class="col-lg-3 col-md-5 col-sm-5">
                                <label for="mesIngreso" class="form-label" [class.required]="this.statusEmpresa !== 'En proceso'">Mes de Ingreso:</label>
                                <input formControlName="mesIngreso" type="month" class="form-control" id="{{'mesIngreso'+idModal}}">
                            </div>

                            <div class="col-lg-5 col-md-7 col-sm-7">
                                <label for="tipoInstrumento" class="form-label required">Tipo de Instrumento:</label>
                                <select formControlName="tipoInstrumento" id="{{'tipoInstrumento'+idModal}}" class="form-control">
                                    <option value="" style="display: none; visibility: hidden;">Seleccione un instrumento</option>
                                    <option value="1">Acta Constitutiva</option>
                                    <option value="2">Acta Asamblea Extraordinaria</option>
                                    <option value="3">Poder</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <label for="numeroInstrumento" class="form-label" [class.required]="this.statusEmpresa !== 'En proceso'">Número de Instrumento:</label>
                                <input formControlName="numeroInstrumento" type="text" class="form-control" id="{{'numeroInstrumento'+idModal}}" placeholder="Número de Instrumento" (keypress)="soloNumeros($event)" maxlength="15">
                            </div>
        
                            <div class="col-sm-12">
                                <label for="observaciones" class="form-label">Observaciones:</label>
                                <textarea formControlName="observaciones" class="form-control" id="{{'observaciones'+idModal}}" style="height: 65px" placeholder="Observaciones" (keypress)="soloTexto($event)"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="registrarEnlaceSocioEmpresa()"><b>Crear Enlace</b></button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cancelarRegistro()"><b>Cancelar</b></button>
</div>