<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Administración</li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav-clientes" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people"></i><span>Socios</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav-clientes" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li data-bs-toggle="modal" data-bs-target="#nuevoSocio">
          <a>
            <i class="bi bi-circle"></i><span>Registro de Socios</span>
          </a>
        </li>
        <li [routerLink]="['socios']">
          <a>
            <i class="bi bi-circle"></i><span>Lista de Socios</span>
          </a>
        </li>
        <li>
          <ul class="sidebar-nav" id="sidebar-nav-socios-empresas">
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#components-nav-socioes-empresas" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bank"></i><span>Socios Empresas</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="components-nav-socioes-empresas" class="nav-content collapse " data-bs-parent="#sidebar-nav-socios-empresas">
                <li data-bs-toggle="modal" data-bs-target="#nuevoEnlaceSocioEmpresa">
                  <a>
                    <i class="bi bi-circle"></i><span>Nuevo enlace</span>
                  </a>
                </li>
                <li [routerLink]="['socios/sociosEmpresas']">
                  <a>
                    <i class="bi bi-circle"></i><span>Consulta</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul class="sidebar-nav" id="sidebar-nav-mensualidades">
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#components-nav-mensualidades" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i><span>Mensualidades</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="components-nav-mensualidades" class="nav-content collapse " data-bs-parent="#sidebar-nav-mensualidades">
                <li>
                  <a>
                    <i class="bi bi-circle"></i><span>Pago</span>
                  </a>
                </li>
                <li [routerLink]="['mensualidades']">
                  <a>
                    <i class="bi bi-circle"></i><span>Consulta</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul class="sidebar-nav" id="sidebar-nav-prestamos">
            <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#components-nav-prestamos" data-bs-toggle="collapse" href="#">
                <i class="bi bi-currency-dollar"></i><span>Préstamos</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="components-nav-prestamos" class="nav-content collapse " data-bs-parent="#sidebar-nav-prestamos">
                <li>
                  <a>
                    <i class="bi bi-circle"></i><span>Nuevo préstamo</span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="bi bi-circle"></i><span>Consulta</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</aside>

<div class="modal fade section profile" id="nuevoSocio" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
  <app-registro-socios></app-registro-socios>
</div>

<div class="modal fade section profile" id="nuevoEnlaceSocioEmpresa" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
  <app-registro-enlace-socios-empresas></app-registro-enlace-socios-empresas>
</div>