<div class="modal-body">
    <div class="pagetitle">
        <h1>Modificación de perfil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Mi perfil</li>
                <li class="breadcrumb-item active">Modificación de perfil</li>
            </ol>
        </nav>
    </div>

    <section class="section profile formsWTitle">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <h5 class="card-title" align="center">Modificación de Perfil</h5>

                        <form class="row g-3" autocomplete="off" [formGroup]="formMoficacionPerfil">
                            <div class="col-md-6">
                                <label for="nombreUsuario" class="form-label required">Nombre Usuario:</label>
                                <input formControlName="nombreUsuario" type="text" class="form-control" id="nombreUsuario" placeholder="Nombre Usuario" (keypress)="soloLetras($event)">
                            </div>
                            <div class="col-md-6">
                                <label for="correo" class="form-label required">Correo:</label>
                                <input formControlName="correo" type="text" class="form-control" id="correo" placeholder="Correo" (keypress)="soloTexto($event)">
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                  <input formControlName="cambioContraseniaPerfil" class="form-check-input" type="checkbox" id="cambioContraseniaPerfil" (change)="cambioContraseniaPerfil()">
                                  <label class="form-check-label" for="cambioContraseniaPerfil">Cambio de contraseña</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="contraseniaAntigua" class="form-label">Contraseña Actual <b style="color: brown;">*</b>:</label>
                                <input formControlName="contraseniaAntigua" type="password" class="form-control" id="contraseniaAntigua" placeholder="Contraseña Actual" (keypress)="soloTexto($event)" maxlength="255">
                            </div>
                            <div class="col-md-6">
                                <label for="contraseniaNueva" class="form-label">Contraseña Nueva <b style="color: brown;">*</b>:</label>
                                <input formControlName="contraseniaNueva" type="password" class="form-control" id="contraseniaNueva" placeholder="Contraseña Nueva" (keypress)="soloTexto($event)" maxlength="255">
                            </div>
                            <div class="col-md-6">
                                <label for="confContraseniaNueva" class="form-label">Confirmar Contraseña Nueva<b style="color: brown;">*</b>:</label>
                                <input formControlName="confContraseniaNueva" type="password" class="form-control" id="confContraseniaNueva" placeholder="Confirmar Contraseña Nueva" (keypress)="soloTexto($event)" maxlength="255">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="modificarPerfil()"><b>Modificar Perfil</b></button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="cancelarModificacion()"><b>Cancelar</b></button>
</div>
